<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ACCSports.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B74FD8691DA1DD88009AD293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B74FD87D1DA1DD89009AD293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B74FD8881DA1DD89009AD293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
